coloredlogs==15.0.1
python-dotenv==0.20.0   
wheel==0.37.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
Flask==2.0.3
flask-swagger-ui==3.36.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
phonenumbers==8.12.46
requests==2.27.1
urllib3==1.26.9
Werkzeug==2.1.1
