alabaster==0.7.12
Babel==2.10.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
coloredlogs==15.0.1
cryptography==36.0.2
docutils==0.17.1
Flask==2.0.3
Flask-Cors==3.0.10
flask-swagger-ui==3.36.0
humanfriendly==10.0
idna==3.3
imagesize==1.4.1
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
mypy-extensions==0.4.3
mysql-connector-python==8.0.30
mysqlclient==2.1.1
packaging==21.3
pathspec==0.9.0
peewee==3.15.2
phonenumbers==8.12.46
pika==1.2.0
platformdirs==2.5.1
protobuf==3.20.1
pycparser==2.21
pycryptodome==3.15.0
Pygments==2.13.0
pyparsing==3.0.9
python-dotenv==0.20.0
pytz==2022.2.1
requests==2.27.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tomli==2.0.1
typing-extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.8.1
